<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Festa de Natal da ONG Sonhar Acordado">
    <meta name="author" content="Hacklab">

    <title>Festa de Natal | Escola de Super Heróis</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">A Festa</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline text-left">
            <img src="img/banner.jpg" title="Festa" alt="Festa" class="img-reponsive">
            <div class="container sr-only">
                <h1>Festa de Natal</h1>
                <h2>Escola de Super Heróis</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
            <h2 class="featurette-heading">A Festa</h2>
            <p class="lead">Um dia especial onde 1300 crianças de 5 a 11 anos de idade,
            de diferentes instituições de São Paulo podem ter tudo que merecem: brincadeiras,
            comidas gostasas e claro, um Papai Noel para dar presentes.</p>

            <p class="lead">Para tornar esse dia mais especial, precisamos de 1300 jovens
            voluntários que acompanharão cada uma das crianças. Por isso o convite está aberto!
            É só se inscrever, realizar um rápido treinamento em um dia da sua escolha e vir
            com a gente construir um dia inesquecível para aqueles que mais precisam. Participe!
            Seja um voluntário sonhador!</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
            <h2 class="featurette-heading">A ONG</h2>
            <p class="lead">Fundada em 1998 em Monterrey no Méxio, a ONG Sonhar Acordado
            tem como objetivo agregar pessoas dispostas a fazer o bem, criar elos de
            responsabilidade social e ajudar na formação e no desenvolvimento da sociedade
            em bebefício da infância mais necessitada.</p>

            <p class="lead">A ONG atua junto a institiuções, orfanatos, casas de apoio e
            hospitais e busca transformar a vida de crianças carentes por meio de uma
            relação de amizade com os jovens voluntários através de atividades culturais,
            esportivas e recreativas.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div id="subscription">
            <div class="text-center">
                <h2 class="featurette-heading">Inscreva-se</h2>
                <p class="lead">As inscrições para a festa estão abertas para voluntários de
                15 a 35 anos, mas envolvem algumas etapas. É preciso comparecer a um treinamento
                onde serão explicadas regras para garantir a segurança das crianças e dicas para
                aproveitar ao máximo o dia da festa. Uma contrubuição para custear uma pequena
                parte da festa.</p>
            </div>

            <div class="step1 volunteer">
                <form>
                    <h1 ng-bind="volunteer.id"></h1>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Nome</label>
                            <input class="input-lg form-control" type="text" name="name" ng-model="volunteer.name" />
                            
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>E-mail</label>
                            <input class="input-lg form-control" type="text" name="email" ng-model="volunteer.email" />
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>RG</label>
                            <input class="input-lg form-control" type="text" name="rg" ng-model="volunteer.rg" />
                            
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Data de nascimento</label>
                            <input class="input-lg form-control" type="text" name="birthdate" ng-model="volunteer.birthdate" />
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Celular</label>
                            <input class="input-lg form-control" type="text" name="phone" ng-model="volunteer.phone" />
                            
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Ocupação</label>
                            <input class="input-lg form-control" type="text" name="occupation" ng-model="volunteer.occupation" />
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Organização</label>
                            <input class="input-lg form-control" type="text" name="organization" ng-model="volunteer.organization" />
                            
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>CEP</label>
                            <input class="input-lg form-control" type="text" name="cep" ng-model="volunteer.cep" />
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Endereço</label>
                            <input class="input-lg form-control" type="text" name="address" ng-model="volunteer.address" />
                            
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Complemento</label>
                            <input class="input-lg form-control" type="text" name="complement" ng-model="volunteer.complement" />
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Estado</label>
                            <input class="input-lg form-control" type="text" name="state" ng-model="volunteer.state" />
                            
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Cidade</label>
                            <input class="input-lg form-control" type="text" name="city" ng-model="volunteer.city" />
                            
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-lg btn-info" ng-click="save()">Treinamentos</button>
                    </div>
                </form>
            </div>


        </div>

        <hr class="featurette-divider">

        <div class="">

        </div>
    </div>
    <!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
