<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Festa de Natal da ONG Sonhar Acordado">
    <meta name="author" content="Hacklab">

    <title>Festa de Natal | Escola de Super Heróis</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top main-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="img/logo-medio.png" alt="">
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav pages-links">
                    <li><a href="#about">A Festa</a></li>
                    <li><a href="#services">A ONG</a></li>
                    <li><a href="#subscription">Inscreva-se</a></li>
                    <li><a href="#duvidas">Duvidas</a></li>
                    <li><a href="#contact">Fale Conosco</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right social-links">
                    <li><a href="https://www.facebook.com/ONGSonharAcordadoSP/" title="Nos acompanhe no facebook" target="_blank"><i class="fa fa-facebook-official fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/Sonhar_Acordado" title="Nos siga no Twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="https://www.youtube.com/user/sonharacordadosp" title="Inscreva-se no nosso canal do YouTube" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline text-left">
            <div class="container sr-only">
                <h1>Festa de Natal</h1>
                <h2>Escola de Super Heróis</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-responsive img-circle pull-right" src="img/herois_small.png">
            <h2 class="featurette-heading">A Festa</h2>
            <p class="lead">Um dia especial onde 1300 crianças de 5 a 11 anos de idade,
            de diferentes instituições de São Paulo podem ter tudo que merecem: brincadeiras,
            comidas gostasas e claro, um Papai Noel para dar presentes.</p>

            <p class="lead">Para tornar esse dia mais especial, precisamos de 1300 jovens
            voluntários que acompanharão cada uma das crianças. Por isso o convite está aberto!
            É só se inscrever, realizar um rápido treinamento em um dia da sua escolha e vir
            com a gente construir um dia inesquecível para aqueles que mais precisam. Participe!
            Seja um voluntário sonhador!</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="img/logo-grande.png">
            <h2 class="featurette-heading">A ONG</h2>
            <p class="lead">Fundada em 1998 em Monterrey no Méxio, a ONG Sonhar Acordado
            tem como objetivo agregar pessoas dispostas a fazer o bem, criar elos de
            responsabilidade social e ajudar na formação e no desenvolvimento da sociedade
            em bebefício da infância mais necessitada.</p>

            <p class="lead">A ONG atua junto a institiuções, orfanatos, casas de apoio e
            hospitais e busca transformar a vida de crianças carentes por meio de uma
            relação de amizade com os jovens voluntários através de atividades culturais,
            esportivas e recreativas.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="subscription">
            <div class="text-center">
                <h2 class="featurette-heading">Inscreva-se</h2>
                <p class="lead">As inscrições para a festa estão abertas para voluntários de
                <b class="text-info">15 a 35 anos</b>, mas envolvem algumas etapas. É preciso
                comparecer a um treinamento onde serão explicadas regras para garantir a
                segurança das crianças e dicas para aproveitar ao máximo o dia da festa. Pedimos também uma contribuição de <b class="text-success">R$ 40,00</b> para custear
                uma pequena parte da festa.</p>
            </div>
            <div class="step1 volunteer"
                 ng-controller="SubscriptionInfoCtrl">

                <form>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error': errors.name}">
                            <label>Nome</label>
                            <input class="input-lg form-control" type="text" name="name" ng-model="volunteer.name" />
                            <p class="text-danger" ng-repeat="error in errors.name">{{ error }}</p>
                        </div>
                        <div class="col-sm-6 form-group" ng-class="{'has-error': errors.email}">
                            <label>E-mail</label>
                            <input class="input-lg form-control" type="text" name="email" ng-model="volunteer.email" />
                            <p class="text-danger" ng-repeat="error in errors.email">{{ error }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error': errors.rg}">
                            <label>RG</label>
                            <input class="input-lg form-control" type="text" name="rg" ng-model="volunteer.rg" />
                            <p class="text-danger" ng-repeat="error in errors.rg">{{ error }}</p>
                        </div>
                        <div class="col-sm-6 form-group" ng-class="{'has-error': errors.birthdate}">
                            <label>Data de nascimento</label>
                            <input class="input-lg form-control" type="text" name="birthdate" ng-model="volunteer.birthdate" />
                            <p class="text-danger" ng-repeat="error in errors.birthdate">{{ error }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error': errors.phone}">
                            <label>Celular</label>
                            <input class="input-lg form-control" type="text" name="phone" ng-model="volunteer.phone" />
                            <p class="text-danger" ng-repeat="error in errors.phone">{{ error }}</p>
                        </div>
                        <div class="col-sm-6 form-group" ng-class="{'has-error': errors.occupation}">
                            <label>Ocupação</label>
                            <input class="input-lg form-control" type="text" name="occupation" ng-model="volunteer.occupation" />
                            <p class="text-danger" ng-repeat="error in errors.occupation">{{ error }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error': errors.organization}">
                            <label>Organização</label>
                            <input class="input-lg form-control" type="text" name="organization" ng-model="volunteer.organization" />
                            <p class="text-danger" ng-repeat="error in errors.organization">{{ error }}</p>
                        </div>
                        <div class="col-sm-6 form-group" ng-class="{'has-error': errors.cep}">
                            <label>CEP</label>
                            <input class="input-lg form-control" type="text" name="cep" ng-model="volunteer.cep" />
                            <p class="text-danger" ng-repeat="error in errors.cep">{{ error }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error': errors.address}">
                            <label>Endereço</label>
                            <input class="input-lg form-control" type="text" name="address" ng-model="volunteer.address" />
                            <p class="text-danger" ng-repeat="error in errors.address">{{ error }}</p>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Complemento</label ng-class="{'has-error': errors.complement}">
                            <input class="input-lg form-control" type="text" name="complement" ng-model="volunteer.complement" />
                            <p class="text-danger" ng-repeat="error in errors.complement">{{ error }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group" ng-class="{'has-error': errors.state}">
                            <label>Estado</label>
                            <input class="input-lg form-control" type="text" name="state" ng-model="volunteer.state" />
                            <p class="text-danger" ng-repeat="error in errors.state">{{ error }}</p>
                        </div>
                        <div class="col-sm-6 form-group" ng-class="{'has-error': errors.city}">
                            <label>Cidade</label>
                            <input class="input-lg form-control" type="text" name="city" ng-model="volunteer.city" />
                            <p class="text-danger" ng-repeat="error in errors.city">{{ error }}</p>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-lg btn-info" ng-click="save()">Escolher treinamento</button>
                    </div>
                </form>
            </div>
        </div>

        <hr class="featurette-divider">

        <div ng-controller="SubscriptionTrainingCtrl" ng-show="volunteer.id">
                <div class="text-center">
                    <h2 class="featurette-heading">Treinamentos</h2>
                </div>

            <div class="step2 training">
                <div ng-repeat="training in training_list" class="row">
                    <div class="col-sm-1 col-xs-2">
                        <input type="radio" ng-value="training.id"
                               ng-model="subscription.training" />
                    </div>
                    <div class="col-sm-11 col-xs-10 row">
                        <div class="col-sm-3">{{ training.date }}</div>
                        <div class="col-sm-5">{{ training.local.name }}</div>
                        <div class="col-sm-4">{{ training.local.address }} - {{ training.local.city }}</div>
                    </div>
                </div>

                <div class="text-right">
                    <button class="btn btn-lg btn-success" ng-click="save()">Contribuir</button>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div ng-controller="SubscriptionPaymentCtrl" ng-show="subscription.id">
            <div class="text-center">
                <h2 class="featurette-heading">Contribuição</h2>
                <p class="lead">Você pode levar sua contribuição em dinheiro no dia do treinamento
                ou usar o BCash, para fazer sua contribuição agora mesmo via Internet. Caso
                prefiram BCash, se possível usem o Boleto, que é a opção que menos onera
                a contribuição.</p>
            </div>

            <div class="step3 contribution">
                <hr/>
                <div class="row" ng-controller="SubscriptionPaymentCtrl">
                    <div class="col-sm-6 text-center">
                        <input src="img/icon-cash.png"
                               value="Dinheiro" title="Dinheiro" type="image"
                               ng-click="subscription.payment='cash'; save()" />
                    </div>
                    <div class="col-sm-6 text-center">
                        <form accept-charset="ISO-8859-1"
                              action="{{form_data.endpoint}}"
                              method="post"
                              target="_fn_contribution">

                            <input ng-repeat="(name, value) in form_data.fields"
                                   name="{{ name }}" ng-value="value" type="hidden"/>

                            <input src="{{form_data.image_button}}" type="image"
                                   ng-click="subscription.payment='eletronic'; save()" />
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="step4 thanks" ng-controller="SubscriptionPaymentCtrl"
             ng-show="subscription.payment">
            <div class="text-center">
                <h2 class="featurette-heading">Obrigado!!</h2>
                <hr>
                <p class="lead">Juntos com você levaremos alegria para mais de 1.300 crianças,
                que estão muito ansiosas esperando por este dia. Vai ser um dia incrível!</p>
            </div>
        </div>

        <hr class="featurette-divider" id="duvidas">

        <div class="duvidas">
            <h2 class="featurette-heading text-center">Dúvidas</h2>
            <br />

            <h3>De onde são as crianças?</h3>
            <p>As crianças são de mais 10 instituições de São Paulo. Essas instituições ficam em regões como: Paraisópolis, Capão, Redondo, Itapecerica da Serra, Taboão, dentre outras</p>

            <h3>Como faço o pagamento?</h3>
            <p>O pagamento pode ser feito no dia do treinamento em dinheiro ou cartão de débito. Voce também poderá fazer fazer o pagamento da contribuiço no momento da inscrição.</p>

            <h3>O que devo fazer no evento?</h3>
            <p>No evento você vai ficar responsável por uma criança e acompanhá-la durante um dia de muito diversão.</p>

            <h3>Qual o motivo da contribuição</h3>
            <p>A contribuição é neccessária para parta dos custos da festa. São mais de R$20 mil de camisetas, R$23 mil de ônibus das crianças, R$2 mil de alimentação, entre outros custos.</p>

            <h3>Posso participar apenas durante um período do evento?</h3>
            <p>Infelizmente não. Precisamos que cada voluntario esteja comprometido e participe durante todo o evento.</p>

            <h3>Posso levar amigos/familiares?</h3>
            <p>Todo jovem de 15 a 35 anos pode ser voluntário dessse grande dia. Como nosso objetivo é fazer um dia inesquecível para as crianças carentes, não é permitida a entrada de outras crianças na festa, como sobrinos ou irmãos.<p>

            <h3>Já participei da festa, posso faltar no treinamento?</h3>
            <p>Também não. Todos os voluntários precisam comparecer ao treinamento, mesmo já tendo participado em um ano anterior. Também não haverá treinamento online.<p>
        </div>

        <div class="text-center featurette" id="contact">
            <h2 class="featurette-heading">Fale Conosco</h2>
            <p class="lead">Perguntas? Dúvidas? Comentários? Envie aqui.</p>
        </div>

          <form name="contactForm" id="contactForm" ng-submit="submit(contactForm.$valid)" ng-controller="ContactFormCtrl" novalidate>
            <div class="row">
                <div class="col-sm-6 form-group" ng-class="{'has-error': errors.name}">
                    <label>Nome Completo</label>
                    <input class="input-lg form-control" type="text" name="name" ng-model="contactFormData.name" required/>
                    <p class="text-danger" ng-repeat="error in errors.name">{{ error }}</p>
                </div>
                <div class="col-sm-6 form-group" ng-class="{'has-error': errors.email}">
                    <label>E-mail</label>
                    <input class="input-lg form-control" type="email" name="email" ng-model="contactFormData.email" required/>
                    <p class="text-danger" ng-repeat="error in errors.email">{{ error }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group" ng-class="{'has-error': errors.rg}">
                    <label>Telefone</label>
                    <input class="input-lg form-control" type="text" name="phone" ng-model="contactFormData.phone" />
                    <p class="text-danger" ng-repeat="error in errors.rg">{{ error }}</p>
                </div>
                <div class="col-sm-6 form-group" ng-class="{'has-error': errors.birthdate}">
                    <label>Assunto</label>
                    <input class="input-lg form-control" type="text" name="subject" ng-model="contactFormData.subject" required/>
                    <p class="text-danger" ng-repeat="error in errors.birthdate">{{ error }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 form-group" ng-class="{'has-error': errors.phone}">
                    <label>Mensagem</label>
                    <textarea class="input-lg form-control" rows="10" name="content" ng-model="contactFormData.content" required/></textarea>
                    <p class="text-danger" ng-repeat="error in errors.phone">{{ error }}</p>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-lg btn-info">Envie</button>
            </div>
        </form>

        <br />

    </div>
    <!-- /.container -->
</body>

</html>
